.form {
  max-width: 30rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formLabel {
  margin-bottom: 0.25rem;
}

.formField {
  padding: 0.5rem;
}

.formActions {
  display: flex;
  justify-content: flex-end;
}

.formSubmitBtn {
  padding: 0.5rem 0.7rem;
  min-width: 5rem;
  background-color: #9333ea;
  color: #f3e8ff;
  text-transform: uppercase;
  font-weight: 500;
}
